* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.gradiente {
    background-color: #f5d3ba;
}

.contenedor {
    width: 95%;
    margin: 5px auto;
}

.logo,
.menu,
.social {
    background-color: #fff200;
    float: left;
    height: 100px;
}

.menu {
    width: 60%;
    text-align: center;
    white-space: nowrap;
    font-size: 2.5em;
    color: #ff0000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.menu a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    padding: 0 10px;
    line-height: 100px;
}

.menu a:hover {
    text-decoration: underline;
}

.logo {
    width: 10%;
    background-image: url(../images/logoDeLaRosa.webp);
    background-size: contain;
    background-repeat: no-repeat;
}

.social {
    width: 30%;
    background-image: url(../images/redesSociales.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.cabecera {
    clear: both;
    width: 100%;
    background-image: url(../images/cacahuates.png);
    text-align: center;
    height: 150px;
    line-height: 150px;
}

header h1 {
    color: #ff0000;
    font-size: 7em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.principal .uno,
.dos {
    width: 50%;
    float: left;
    text-align: center;
}

.uno {
    clear: both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
}

.dos {
    height: 250px;
    background-image: url(../images/pulparindo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.izq,
.cen,
.der {
    width: 33.3%;
    float: left;
    text-align: center;
}

.izq {
    clear: both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
}

.cen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
}

.der {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
}

.tres {
    clear: both;
    width: 30%;
    background-image: url(../images/mazapan.png);
    float: left;
    height: 250px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cuatro {
    width: 70%;
    float: left;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
}

.pre {
    clear: both;
    width: 100%;
    background-color: #ff0000;
    height: 50px;
    text-align: right;
    float: left;
    color: white;
    line-height: 50px;
    font-size: 1.5em;
}